pkgbase = kirigami2
	pkgdesc = A QtQuick based components set
	pkgver = 5.69.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = qt5-svg
	makedepends = kpackage
	makedepends = doxygen
	depends = qt5-quickcontrols
	depends = qt5-quickcontrols2
	depends = qt5-graphicaleffects
	source = git+https://anongit.kde.org/kirigami.git#tag=v5.69.0-rc1
	source = kdebug-417956.patch::https://cgit.kde.org/kirigami.git/patch/?id=4d84d3f1d93fe7cc7db7530d13094a48745ef59c
	sha256sums = SKIP
	sha256sums = f20a374eca54079aabd109e5638fe2ca2211e0049061f5a42663c54cd12ead9b

pkgname = kirigami2

