pkgbase = breeze-gtk
	pkgdesc = Breeze widget theme for GTK 2 and 3
	pkgver = 5.19.90
	pkgrel = 1.1
	url = https://quickgit.kde.org/?p=breeze-gtk.git
	arch = any
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = sassc
	makedepends = python-cairo
	makedepends = breeze
	source = https://download.kde.org/unstable/plasma/5.19.90/breeze-gtk-5.19.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.19.90/breeze-gtk-5.19.90.tar.xz.sig
	source = kdebug-414763.patch::https://invent.kde.org/plasma/breeze-gtk/commit/eb92134aa9f9274dbc24496e9012885d2cbbe94a.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 834e48b4adfcff2c1d05e283d5b6ff31c848037504d4061d119c33875db0c8a1
	sha256sums = SKIP
	sha256sums = 53a6351224a0ff986039ad0ec0f908b3aeadeafbe65676469c1ca9f5e24966e1

pkgname = breeze-gtk

