pkgbase = qt5-serialport
	pkgdesc = Provides access to hardware and virtual serial ports
	pkgver = 5.15.0beta4
	pkgrel = 1.1
	url = https://www.qt.io
	arch = x86_64
	groups = qt
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	depends = qt5-base
	source = https://download.qt.io/development_releases/qt/5.15/5.15.0-beta4/submodules/qtserialport-everywhere-src-5.15.0-beta4.tar.xz
	source = qtbug-80930.patch::https://codereview.qt-project.org/gitweb?p=qt/qtserialport.git;a=patch;h=c24fd46221b98eb2e9248765ae32c0fccbebcd35
	sha256sums = fb517f865f87df63fbfd658cc88defa559bb26c33ef91fd9562f47f4d6c56e76
	sha256sums = fbd3f084ee7c47e64a845be2261c69759fcb8bab6ddf2eaf38d88db0044c9327

pkgname = qt5-serialport

