pkgbase = networkmanager-qt
	pkgdesc = Qt wrapper for NetworkManager API
	pkgver = 5.70.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = networkmanager
	depends = qt5-base
	source = git+https://anongit.kde.org/networkmanager-qt.git#tag=v5.70.0-rc1
	sha256sums = SKIP

pkgname = networkmanager-qt

