pkgbase = plasma-framework
	pkgdesc = Plasma library and runtime components based upon KF5 and Qt5
	pkgver = 5.70.0
	pkgrel = 0.1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = kdoctools
	makedepends = doxygen
	depends = kactivities
	depends = kdeclarative
	depends = kwayland
	depends = kirigami2
	source = git+https://anongit.kde.org/plasma-framework.git#tag=v5.70.0-rc2
	sha256sums = SKIP

pkgname = plasma-framework

