pkgbase = knotifications
	pkgdesc = Abstraction for system notifications
	pkgver = 5.69.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	depends = libcanberra
	depends = libdbusmenu-qt5
	depends = kwindowsystem
	depends = kconfig
	depends = kcoreaddons
	depends = qt5-speech
	source = git+https://anongit.kde.org/knotifications.git#tag=v5.69.0-rc1
	sha256sums = SKIP

pkgname = knotifications

