pkgbase = kcalutils
	pkgdesc = The KDE calendar utility library
	pkgver = 20.03.80
	pkgrel = 1.1
	url = https://kontact.kde.org
	arch = x86_64
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kcalendarcore
	depends = kidentitymanagement
	source = https://download.kde.org/unstable/release-service/20.03.80/src/kcalutils-20.03.80.tar.xz
	source = https://download.kde.org/unstable/release-service/20.03.80/src/kcalutils-20.03.80.tar.xz.sig
	source = kdebug-410758.patch::https://cgit.kde.org/kcalutils.git/patch/?id=1e240368ed7cd0b015761ef214e5caf504e8f723
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 28a6261b1737f58ccc7f9c48ecbab2e58aa20f790a7b7d51c57890cc46496a45
	sha256sums = SKIP
	sha256sums = 34454d3746b049130f6710def3edc6b36ac2b43a7ca203e7a582212b845915f7

pkgname = kcalutils

