pkgbase = ktexteditor
	pkgdesc = Advanced embeddable text editor
	pkgver = 5.69.0
	pkgrel = 3
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kparts
	depends = syntax-highlighting
	depends = libgit2
	depends = editorconfig-core-c
	source = git+https://anongit.kde.org/ktexteditor.git#tag=v5.69.0-rc1
	source = revert-premature-port-to-unreleased-qt-5.15.patch::https://cgit.kde.org/ktexteditor.git/patch/?id=b70654b6bddd0b15dfa490b28284eec0dc7dba9d
	sha256sums = SKIP
	sha256sums = b657360b6f1cdcc6e31ce25ae46f8c621e2268b0078b78b96920bbf1466b4ed0

pkgname = ktexteditor

