pkgbase = polkit-kde-agent
	pkgdesc = Daemon providing a polkit authentication UI for KDE
	pkgver = 5.20.90
	pkgrel = 1.1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = kiconthemes
	depends = kdbusaddons
	depends = kcrash
	source = https://download.kde.org/unstable/plasma/5.20.90/polkit-kde-agent-1-5.20.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.20.90/polkit-kde-agent-1-5.20.90.tar.xz.sig
	source = kdebug-431963.patch::https://invent.kde.org/plasma/polkit-kde-agent-1/commit/102bd557798c753688f410b24449f4d28cd0f8b3.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 2d7900984bc949cd5afe1a34447fe89ca53e26d93720eed29ec858f546f08f60
	sha256sums = SKIP
	sha256sums = 2b0b3b5caf1d1feebf2299a6391612076bcd6beb10ab9589ba0c23bdcd9c7100

pkgname = polkit-kde-agent
