pkgbase = dooble-git
	pkgdesc = Web browser based on QtWebEngine
	pkgver = 2020.10.10.r14.g5ced817d
	pkgrel = 1
	url = https://textbrowser.github.io/dooble/
	arch = x86_64
	license = BSD
	depends = qt5-webengine
	source = git+https://github.com/textbrowser/dooble.git
	source = dooble_pl_PL.ts
	source = dooble_pl_PL.qm
	sha256sums = SKIP
	sha256sums = d33fbf69206e790c59b3ad8d473672a9e4bef91b0c60fe803a412a698480e2b0
	sha256sums = 23aaa034760bd2588fa5cbfed9d316956c7cc77ac7a0a4eef0c1e3af64e68b48

pkgname = dooble-git

