pkgbase = kactivities-stats
	pkgdesc = A library for accessing the usage data collected by the activities system
	pkgver = 5.70.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = boost
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kactivities
	source = git+https://anongit.kde.org/kactivities-stats.git#tag=v5.70.0-rc1
	sha256sums = SKIP

pkgname = kactivities-stats

