pkgbase = kwallet
	pkgdesc = Secure and unified container for user passwords
	pkgver = 5.69.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = boost
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = knotifications
	depends = kiconthemes
	depends = kservice
	depends = gpgme
	optdepends = kwalletmanager: Configuration GUI
	source = git+https://anongit.kde.org/kwallet.git#tag=v5.69.0-rc1
	sha256sums = SKIP

pkgname = kwallet

