pkgbase = qt5-wayland
	pkgdesc = Provides APIs for Wayland
	pkgver = 5.15.0beta4
	pkgrel = 1.1
	url = https://www.qt.io
	arch = x86_64
	groups = qt
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = vulkan-headers
	depends = qt5-declarative
	depends = libxcomposite
	source = https://download.qt.io/development_releases/qt/5.15/5.15.0-beta4/submodules/qtwayland-everywhere-src-5.15.0-beta4.tar.xz
	source = qtbug-83636.patch::https://codereview.qt-project.org/gitweb?p=qt/qtwayland.git;a=patch;h=e72f7db39f58063267036a4e5d066e70a80184b2
	source = qtbug-82914.patch::https://codereview.qt-project.org/gitweb?p=qt/qtwayland.git;a=patch;h=d18c29931b0bc889fff66bdbde89133544ba0529
	sha256sums = 3957166e89cb666b471bbc9d67c1f95364acb6cca9eb1fe50529df3e5834f915
	sha256sums = cb9c35f55227fca79026aaffb772080dd7805d2b7b3b4c63ee6bb49b691e141d
	sha256sums = 7d2486a845481a547a17d24d3120d9855d54fca8d091617df7bbccf8bba15e73

pkgname = qt5-wayland

