pkgbase = dolphin
	pkgdesc = KDE File Manager
	pkgver = 20.03.80
	pkgrel = 1.1
	url = https://kde.org/applications/system/dolphin/
	arch = x86_64
	groups = kde-applications
	groups = kdebase
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = baloo-widgets
	depends = knewstuff
	depends = kio-extras
	depends = kcmutils
	depends = kparts
	depends = kinit
	depends = phonon-qt5
	optdepends = kde-cli-tools: for editing file type options
	optdepends = ffmpegthumbs: video thumbnails
	optdepends = kdegraphics-thumbnailers: PDF and PS thumbnails
	optdepends = konsole: terminal panel
	optdepends = purpose: share context menu
	source = https://download.kde.org/unstable/release-service/20.03.80/src/dolphin-20.03.80.tar.xz
	source = https://download.kde.org/unstable/release-service/20.03.80/src/dolphin-20.03.80.tar.xz.sig
	source = kdebug-388259.patch::https://cgit.kde.org/dolphin.git/patch/?id=b96c48b44e6e81aefca46be97adcf000e363c512
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = a0493142287102f6ad0e6a2db940b637d4ce2749e79bd140b354d93fb9420a87
	sha256sums = SKIP
	sha256sums = 0966371dbddd20ca85213cf0c81ec83217e3a796ef544f34bc429a45e8f17604

pkgname = dolphin

