pkgbase = kapidox
	pkgdesc = Frameworks API Documentation Tools
	pkgver = 5.69.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = any
	groups = kf5
	license = LGPL
	makedepends = cmake
	makedepends = qt5-base
	depends = python-jinja
	depends = python-yaml
	source = git+https://anongit.kde.org/kapidox.git#tag=v5.69.0-rc1
	sha256sums = SKIP

pkgname = kapidox

