pkgbase = kjs
	pkgdesc = Support for JS scripting in applications
	pkgver = 5.70.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5-aids
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = qt5-base
	source = git+https://anongit.kde.org/kjs.git#tag=v5.70.0-rc1
	sha256sums = SKIP

pkgname = kjs

