pkgbase = systemsettings
	pkgdesc = KDE system manager for hardware, software, and workspaces
	pkgver = 5.20.90
	pkgrel = 1.1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = plasma-workspace
	source = https://download.kde.org/unstable/plasma/5.20.90/systemsettings-5.20.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.20.90/systemsettings-5.20.90.tar.xz.sig
	source = kdebug-432083.patch::https://invent.kde.org/plasma/systemsettings/commit/54da94bc12247251f778a5b6757bcdb332aa2a4e.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 27438290c7a9db7b77544bcf74df21501d61a943469c511a61771a989b225ac2
	sha256sums = SKIP
	sha256sums = 92e6b7c113492de25fc4176f6a91ff499436c7d7f2e44650cf409c418ed9aa10

pkgname = systemsettings
