pkgbase = solid
	pkgdesc = Hardware integration and detection
	pkgver = 5.70.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = doxygen
	makedepends = qt5-declarative
	depends = qt5-base
	depends = media-player-info
	depends = upower
	depends = udisks2
	optdepends = qt5-declarative: QML bindings
	source = git+https://anongit.kde.org/solid.git#tag=v5.70.0-rc1
	sha256sums = SKIP

pkgname = solid

