pkgbase = kcontacts
	pkgdesc = Address book API for KDE
	pkgver = 5.69.0
	pkgrel = 0
	epoch = 1
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kcoreaddons
	depends = kconfig
	depends = ki18n
	depends = kcodecs
	depends = iso-codes
	source = git+https://anongit.kde.org/kcontacts.git#tag=v5.69.0-rc1
	sha256sums = SKIP

pkgname = kcontacts

