pkgbase = print-manager
	pkgdesc = A tool for managing print jobs and printers
	pkgver = 20.03.90
	pkgrel = 1.1
	url = https://www.kde.org/applications/utilities/
	arch = x86_64
	groups = kde-applications
	groups = kdeutils
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = plasma-framework
	depends = kcmutils
	optdepends = system-config-printer: auto-detect the printer driver
	source = https://download.kde.org/unstable/release-service/20.03.90/src/print-manager-20.03.90.tar.xz
	source = https://download.kde.org/unstable/release-service/20.03.90/src/print-manager-20.03.90.tar.xz.sig
	source = kdebug-415444.patch::https://cgit.kde.org/print-manager.git/patch/?id=43da9240bba85bf2719839d35f0a67a59df721e0
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 76d6178db401f0cd5a6aada8bbb1a02c7a7767776415621346f1b091779f44d7
	sha256sums = SKIP
	sha256sums = d986e48b9cd1846f2593899cf31895a9322205f9ecbf69247ac402358ac52422

pkgname = print-manager

