pkgbase = kwayland-integration
	pkgdesc = Provides integration plugins for various KDE frameworks for the wayland windowing system
	pkgver = 5.19.90
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	depends = kwindowsystem
	depends = kidletime
	depends = kwayland
	depends = kguiaddons
	source = https://download.kde.org/unstable/plasma/5.19.90/kwayland-integration-5.19.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.19.90/kwayland-integration-5.19.90.tar.xz.sig
	source = commit-3667c199.patch::https://invent.kde.org/plasma/kwayland-integration/-/commit/3667c1995464b27e8ec5521d8d5c41a062bdb238.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = b97aafa2492005cdc7d05893290863666864967a0fc753407bf0473e114e4145
	sha256sums = SKIP
	sha256sums = 49d7cc10078b5f2023e72b4daa5cbc16dc42cdab60901b2b4b720c06a37ea493

pkgname = kwayland-integration

