pkgbase = kinfocenter
	pkgdesc = A utility that provides information about a computer system
	pkgver = 5.19.90
	pkgrel = 1.1
	url = https://www.kde.org/applications/system/kinfocenter/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = plasma-framework
	makedepends = kdoctools
	depends = systemsettings
	depends = glu
	source = https://download.kde.org/unstable/plasma/5.19.90/kinfocenter-5.19.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.19.90/kinfocenter-5.19.90.tar.xz.sig
	source = commit-c50516af.patch::https://invent.kde.org/plasma/kinfocenter/-/commit/c50516afc282e34c9f153b3c4cb8f4a9a7451ab1.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 748bc4b3a79310a010c8396813d1f1b51f49f26ff2fd08a25433ef1d38d5419c
	sha256sums = SKIP
	sha256sums = 37efd5025a7e8eff1b5867246c6b73873f4e68ab238a47e5161cf614cd94d4a0

pkgname = kinfocenter

