pkgbase = kguiaddons
	pkgdesc = Addons to QtGui
	pkgver = 5.70.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = clang
	makedepends = python-pyqt5
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = sip
	depends = qt5-x11extras
	optdepends = python-pyqt5: for the Python bindings
	source = git+https://anongit.kde.org/kguiaddons.git#tag=v5.70.0-rc1
	sha256sums = SKIP

pkgname = kguiaddons

