pkgbase = okular
	pkgdesc = Document Viewer
	pkgver = 20.03.80
	pkgrel = 1.1
	url = https://kde.org/applications/graphics/okular/
	arch = x86_64
	groups = kde-applications
	groups = kdegraphics
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = ebook-tools
	makedepends = kdegraphics-mobipocket
	makedepends = kdoctools
	makedepends = khtml
	makedepends = chmlib
	depends = djvulibre
	depends = libspectre
	depends = libkexiv2
	depends = poppler-qt5
	depends = qca
	depends = kpty
	depends = kactivities
	depends = threadweaver
	depends = kjs
	depends = kparts
	depends = purpose
	depends = discount
	depends = phonon-qt5
	optdepends = ebook-tools: mobi and epub support
	optdepends = kdegraphics-mobipocket: mobi support
	optdepends = libzip: CHM support
	optdepends = khtml: CHM support
	optdepends = chmlib: CHM support
	optdepends = calligra: ODT and ODP support
	optdepends = unrar: Comic Book Archive support
	optdepends = unarchiver: Comic Book Archive support (alternative)
	options = !zipman
	source = https://download.kde.org/unstable/release-service/20.03.80/src/okular-20.03.80.tar.xz
	source = https://download.kde.org/unstable/release-service/20.03.80/src/okular-20.03.80.tar.xz.sig
	source = kdebug-418520.patch::https://cgit.kde.org/okular.git/patch/?id=9694113a961cb5a5d6ef18ce0beeaa975a8c6db3
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 8f42f5f29889975c0fddb854e8d52e9fd1236b6e632fda166353445306430d42
	sha256sums = SKIP
	sha256sums = 76f1e93a3f65f86b8d394b1560870ce8fddf49facb17aca780c1a212d473d33d

pkgname = okular

