pkgbase = kscreen
	pkgdesc = KDE's screen management software
	pkgver = 5.20.90
	pkgrel = 1.1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = plasma-framework
	makedepends = kcmutils
	depends = libkscreen
	depends = kdeclarative
	depends = qt5-graphicaleffects
	depends = qt5-sensors
	source = https://download.kde.org/unstable/plasma/5.20.90/kscreen-5.20.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.20.90/kscreen-5.20.90.tar.xz.sig
	source = kdebug-432249.patch::https://invent.kde.org/plasma/kscreen/commit/8c3823ffe77d9f1e2759461274dd478e4f7fd16d.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 6ae4bdda3c84d570557e7649d31ef107a524732c1f637a6378420f4f7d7f9be6
	sha256sums = SKIP
	sha256sums = e81befc7c6f4c6dfe2f81514b06b2624d9266a2126d05572b3bc80a90e728be9

pkgname = kscreen
