pkgbase = ffmpegthumbs
	pkgdesc = FFmpeg-based thumbnail creator for video files
	pkgver = 20.07.90
	pkgrel = 1.1
	url = https://www.kde.org/applications/multimedia/
	arch = x86_64
	groups = kde-applications
	groups = kde-multimedia
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	depends = kio
	depends = ffmpeg
	source = https://download.kde.org/unstable/release-service/20.07.90/src/ffmpegthumbs-20.07.90.tar.xz
	source = https://download.kde.org/unstable/release-service/20.07.90/src/ffmpegthumbs-20.07.90.tar.xz.sig
	source = kdebug-408956.patch::https://invent.kde.org/multimedia/ffmpegthumbs/commit/d2ab28b9a4bcc8270ae0e0995710384eec4d46dc.patch
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 0ce5c8a19c780dc7f9194a6a7278c926bfc243957baa00c0cbf8cfc3ad6e8f2e
	sha256sums = SKIP
	sha256sums = 9636c6ee901bdd1cb401ef4774d8f436c00ac46e1b1b8bfecf709d43b8406a36

pkgname = ffmpegthumbs

