pkgbase = kparts
	pkgdesc = Document centric plugin system
	pkgver = 5.70.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kio
	source = git+https://anongit.kde.org/kparts.git#tag=v5.70.0-rc1
	sha256sums = SKIP

pkgname = kparts

