pkgbase = kimageformats
	pkgdesc = Image format plugins for Qt5
	pkgver = 5.70.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = karchive
	makedepends = git
	depends = qt5-base
	depends = openexr
	optdepends = karchive: plugin for Krita and OpenRaster images
	source = git+https://anongit.kde.org/kimageformats.git#tag=v5.70.0-rc1
	sha256sums = SKIP

pkgname = kimageformats

