pkgbase = konsole
	pkgdesc = KDE's terminal emulator
	pkgver = 20.03.90
	pkgrel = 1.2
	url = https://kde.org/applications/system/konsole/
	arch = x86_64
	groups = kde-applications
	groups = kdebase
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = knotifyconfig
	depends = kpty
	depends = kparts
	depends = kinit
	depends = knewstuff
	optdepends = keditbookmarks: to manage bookmarks
	source = https://download.kde.org/unstable/release-service/20.03.90/src/konsole-20.03.90.tar.xz
	source = https://download.kde.org/unstable/release-service/20.03.90/src/konsole-20.03.90.tar.xz.sig
	source = kdebug-416376.patch::https://cgit.kde.org/konsole.git/patch/?id=26f4a2218f52f790d4de087216098619a753164e
	source = kdebug-419981.patch::https://cgit.kde.org/konsole.git/patch/?id=6db7f8d2593ccb0238b2b547ed6eaf7da6a26c4c
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 7c2d105e0eb97d704afba53d5396fd659daef4ef7f20f23fc6907b974d039eae
	sha256sums = SKIP
	sha256sums = 4fb50295cf48cc7ad4178f5e092e286949eef532a90eb26c3e0738ba0fa4a9bf
	sha256sums = bf9ab39cfec46d6caee389df6f6f55c204563e38a31601f4664b5627ed12a7c3

pkgname = konsole

