pkgbase = kdelibs4support
	pkgdesc = Porting aid from KDELibs4
	pkgver = 5.70.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5-aids
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = qt5-tools
	makedepends = networkmanager
	makedepends = perl-uri
	makedepends = kdesignerplugin
	depends = kunitconversion
	depends = kitemmodels
	depends = kemoticons
	depends = kded
	depends = kparts
	depends = perl
	source = git+https://anongit.kde.org/kdelibs4support.git#tag=v5.70.0-rc1
	sha256sums = SKIP

pkgname = kdelibs4support

