pkgbase = kwin
	pkgdesc = An easy to use, but flexible, composited Window Manager
	pkgver = 5.20.90
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	install = kwin.install
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	makedepends = kdoctools
	depends = kscreenlocker
	depends = xcb-util-cursor
	depends = plasma-framework
	depends = kcmutils
	depends = kwayland-server
	depends = breeze
	depends = qt5-sensors
	depends = qt5-script
	optdepends = qt5-virtualkeyboard: virtual keyboard support for kwin-wayland
	source = https://download.kde.org/unstable/plasma/5.20.90/kwin-5.20.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.20.90/kwin-5.20.90.tar.xz.sig
	source = kdebug-428781.patch::https://invent.kde.org/plasma/kwin/commit/231d96c5c6b1127c46702237d47a41a66f60f131.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 6ada880a3dddab83878c2ce4b3e244929a203bd2930ec77844f85a24c3efc05f
	sha256sums = SKIP
	sha256sums = 39b76c7a80c5a9a43dbf83d542be17d0d3f9bfe51f64098bb41a490e6e3ba479

pkgname = kwin
