pkgbase = kxmlgui
	pkgdesc = User configurable main windows
	pkgver = 5.69.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	depends = kglobalaccel
	depends = kiconthemes
	depends = attica
	source = git+https://anongit.kde.org/kxmlgui.git#tag=v5.69.0-rc1
	sha256sums = SKIP

pkgname = kxmlgui

