pkgbase = prison
	pkgdesc = A barcode API to produce QRCode barcodes and DataMatrix barcodes
	pkgver = 5.69.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = GPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = qt5-declarative
	depends = qt5-base
	depends = libdmtx
	depends = qrencode
	optdepends = qt5-declarative: QML bindings
	source = git+https://anongit.kde.org/prison.git#tag=v5.69.0-rc1
	sha256sums = SKIP

pkgname = prison

