pkgbase = gwenview
	pkgdesc = A fast and easy to use image viewer
	pkgver = 20.03.90
	pkgrel = 2.1
	url = https://kde.org/applications/graphics/gwenview/
	arch = x86_64
	groups = kde-applications
	groups = kdegraphics
	license = GPL
	license = LGPL
	license = FDL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = kactivities
	depends = baloo
	depends = libkipi
	depends = libkdcraw
	depends = kparts
	depends = kitemmodels
	depends = cfitsio
	depends = phonon-qt5
	depends = purpose
	depends = perl
	optdepends = qt5-imageformats: support for tiff, webp, and more image formats
	optdepends = kimageformats: support for dds, xcf, exr, psd, and more image formats
	optdepends = kipi-plugins: export to various online services
	optdepends = kamera: import pictures from gphoto2 cameras
	source = https://download.kde.org/unstable/release-service/20.03.90/src/gwenview-20.03.90.tar.xz
	source = https://download.kde.org/unstable/release-service/20.03.90/src/gwenview-20.03.90.tar.xz.sig
	source = revert-port_deprecated_signal.patch::https://cgit.kde.org/gwenview.git/patch/?id=1dda9f4892843c8407cd117a6727b4e0960a90a8
	source = D28374.diff
	source = D28373.diff
	validpgpkeys = CA262C6C83DE4D2FB28A332A3A6A4DB839EAA6D7
	validpgpkeys = F23275E4BF10AFC1DF6914A6DBD2CE893E2D1C87
	sha256sums = 082453562dd9952a6fd3cf4f606418b5162629d709707fb2a0274c54f798f28c
	sha256sums = SKIP
	sha256sums = 56292caf02c79c2236c27978bbe5d4cc4e9795f8c028322e03d1f4322b407c60
	sha256sums = 1825dedf3948bb20dca117f49735463909622534b579867bee5d0beb72e2ec76
	sha256sums = 595c77e39b54f9ef3e1fb930ddf04b67d23d7a3babfe8bd23be510b5f8ec1e87

pkgname = gwenview

