pkgbase = kde-gtk-config
	pkgdesc = GTK2 and GTK3 Configurator for KDE
	pkgver = 5.20.90
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = gtk2
	makedepends = gtk3
	makedepends = sassc
	depends = kdbusaddons
	depends = kconfigwidgets
	optdepends = gtk2: GTK2 apps support
	optdepends = gtk3: GTK3 apps support
	optdepends = xsettingsd: apply settings to GTK applications on the fly
	source = https://download.kde.org/unstable/plasma/5.20.90/kde-gtk-config-5.20.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.20.90/kde-gtk-config-5.20.90.tar.xz.sig
	source = kdebug-421745.patch::https://invent.kde.org/plasma/kde-gtk-config/commit/7e61802bb179f53e0e785109ce7ab35d9b5dec54.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 523f900aaa6b927435ddbcf1827d9dcc9cae7500fd50c4d0dddab41c534356e1
	sha256sums = SKIP
	sha256sums = 1ae3da824f78870867d6a16e35af2d69920169a203efd2c7349504fea4a26f4f

pkgname = kde-gtk-config
