pkgbase = kfilemetadata
	pkgdesc = A library for extracting file metadata
	pkgver = 5.69.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = catdoc
	makedepends = doxygen
	makedepends = qt5-tools
	makedepends = qt5-doc
	makedepends = libappimage
	depends = ki18n
	depends = karchive
	depends = kconfig
	depends = kcoreaddons
	depends = exiv2
	depends = poppler-qt5
	depends = taglib
	depends = ffmpeg
	depends = ebook-tools
	optdepends = libappimage: AppImage extractor
	source = git+https://anongit.kde.org/kfilemetadata.git#tag=v5.69.0-rc1
	sha256sums = SKIP

pkgname = kfilemetadata

