pkgbase = kdewebkit
	pkgdesc = KDE Integration for QtWebKit
	pkgver = 5.69.0
	pkgrel = 0
	url = https://community.kde.org/Frameworks
	arch = x86_64
	groups = kf5-aids
	license = LGPL
	makedepends = git
	makedepends = extra-cmake-modules
	makedepends = qt5-tools
	depends = qt5-webkit
	depends = kparts
	source = git+https://anongit.kde.org/kdewebkit.git#tag=v5.69.0-rc1
	sha256sums = SKIP

pkgname = kdewebkit

