pkgbase = plasma-desktop
	pkgdesc = KDE Plasma Desktop
	pkgver = 5.19.90
	pkgrel = 3.2
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = xf86-input-evdev
	makedepends = xf86-input-synaptics
	makedepends = xf86-input-libinput
	makedepends = xorg-server-devel
	makedepends = scim
	makedepends = kdesignerplugin
	makedepends = kaccounts-integration
	makedepends = intltool
	depends = polkit-kde-agent
	depends = libxkbfile
	depends = kmenuedit
	depends = systemsettings
	depends = ksysguard
	depends = baloo
	depends = libibus
	depends = accountsservice
	source = https://download.kde.org/unstable/plasma/5.19.90/plasma-desktop-5.19.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.19.90/plasma-desktop-5.19.90.tar.xz.sig
	source = kdebug-426737.patch::https://invent.kde.org/plasma/plasma-desktop/commit/90a5e9317b6073fc85c3a7a2395694114847b3bd.patch
	source = commit-41c47566.patch::https://invent.kde.org/plasma/plasma-desktop/-/commit/41c47566f736fefe1e7589efd9d21bd3d05cbe33.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = b5b78212257b8d352b0c86a321dedba65fd05d85d5395ebec4e357331ade491e
	sha256sums = SKIP
	sha256sums = cae33655f4e0c41567fbb2855ea96891f66249a4ae2d002a30de8c2ac69102da
	sha256sums = cd163ecceebcc7a5e7a95b526708c610ac5cf3dd47289537d2a797d144d8addc

pkgname = plasma-desktop
	depends = polkit-kde-agent
	depends = libxkbfile
	depends = kmenuedit
	depends = systemsettings
	depends = ksysguard
	depends = baloo
	depends = libibus
	depends = accountsservice
	depends = knetattach
	optdepends = plasma-nm: Network manager applet
	optdepends = powerdevil: power management, suspend and hibernate support
	optdepends = kscreen: screen management
	optdepends = ibus: kimpanel IBUS support
	optdepends = scim: kimpanel SCIM support

pkgname = knetattach
	pkgdesc = Wizard which makes it easier to integrate network resources with the Plasma Desktop
	depends = kdelibs4support

