pkgbase = plasma-desktop
	pkgdesc = KDE Plasma Desktop
	pkgver = 5.20.90
	pkgrel = 1.4
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	makedepends = xf86-input-evdev
	makedepends = xf86-input-synaptics
	makedepends = xf86-input-libinput
	makedepends = xorg-server-devel
	makedepends = scim
	makedepends = kdesignerplugin
	makedepends = kaccounts-integration
	makedepends = intltool
	makedepends = packagekit-qt5
	depends = polkit-kde-agent
	depends = libxkbfile
	depends = kmenuedit
	depends = systemsettings
	depends = ksysguard
	depends = baloo
	depends = accountsservice
	optdepends = plasma-nm: Network manager applet
	optdepends = powerdevil: power management, suspend and hibernate support
	optdepends = kscreen: screen management
	optdepends = ibus: kimpanel IBUS support
	optdepends = scim: kimpanel SCIM support
	optdepends = kaccounts-integration: OpenDesktop integration plugin
	optdepends = packagekit-qt5: to install new krunner plugins
	replaces = user-manager
	replaces = knetattach
	source = https://download.kde.org/unstable/plasma/5.20.90/plasma-desktop-5.20.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.20.90/plasma-desktop-5.20.90.tar.xz.sig
	source = kdebug-392731.patch::https://invent.kde.org/plasma/plasma-desktop/commit/a911982efce3efeb510899abb526230b0de12f7f.patch
	source = kdebug-431894.patch::https://invent.kde.org/plasma/plasma-desktop/commit/82d2e94e48cc5ef1e4cb855cc6d559a96336e683.patch
	source = kdebug-432035.patch::https://invent.kde.org/plasma/plasma-desktop/-/commit/2646dccc7abedf3a2ef57b0364261fa3a92bc001.patch
	source = kdebug-429063.patch::https://invent.kde.org/plasma/plasma-desktop/commit/40be77a06cac85ffd496ea77e3b19e093b872eaf.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 613c56e9ade683144552a12c1de6b2f78b019bcba80a8b8ccd9f903283f8a3a8
	sha256sums = SKIP
	sha256sums = 96e9e231b724431ebf844625eb30e547986ea5092f59a80935724950363b612d
	sha256sums = 05d59e465773df050491decf97fa3c357c7d5099dc1eb526722776c9c194da8b
	sha256sums = 89a7562e779c904200b1edabb4c3fc788fa76e12acf6fc16b644338ed3eeec4c
	sha256sums = aed7791ecc8778287e3bb21ce18d53b1778800bbf5f8ebffacdf7c1faa74e5ec

pkgname = plasma-desktop
