pkgbase = plasma-pa
	pkgdesc = Plasma applet for audio volume management using PulseAudio
	pkgver = 5.20.90
	pkgrel = 1.1
	url = https://www.kde.org/workspaces/plasmadesktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools
	depends = plasma-workspace
	depends = libcanberra-pulse
	depends = pulseaudio
	depends = perl
	source = https://download.kde.org/unstable/plasma/5.20.90/plasma-pa-5.20.90.tar.xz
	source = https://download.kde.org/unstable/plasma/5.20.90/plasma-pa-5.20.90.tar.xz.sig
	source = kdebug-432008.patch::https://invent.kde.org/plasma/plasma-pa/-/commit/c6c721092cd172aac18d5241c8cdefb2e0a0f312.patch
	validpgpkeys = 2D1D5B0588357787DE9EE225EC94D18F7F05997E
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 54fdcb82b1a82bc2bae8651f40fc7b2b647ea3b24f26a78614cb2753a0d6ec12
	sha256sums = SKIP
	sha256sums = 546ea9bb4318061517cc4b5d0f28e6ec28dd53bb62521fa4fd9031604ee4dac8

pkgname = plasma-pa
